{% extends 'base.html' %}
{% block title %}
Podcast
{% endblock %}
{% block content %}

<h1>{{item.title}}</h1>
<a href="/">&larr;&nbsp;List</a>
<div class="info">
    
    <a id="source" href="{{item.url}}" target="_blank">Source</a>
    <span id="date">{{item.date}}</span>
</div>
{% if item.img %}
<img src="{{item.img}}" alt="image of this podcast">
{% endif %}
<audio controls src="{{item.audio}}"></audio>
<div class="transcript">
    {% autoescape off %}
    {{item.transcript}}
    {% endautoescape %}
</div>

{% endblock %}

{% block self_javascript %}

{% endblock %}