#content {
    width: 90%;
    margin: 0 auto;
}

#content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

h1 {
    text-align: center;
    margin-top: 1em;
}
.info {
    text-align: right;
}
audio {
    display: block;
    margin: 1em auto;
    width: 50%;
    min-width: 300px;
}
.audiojs {
    display: block;
    margin: 10px auto;
}
table th {
    text-align: center;
}
table > tbody > tr {
    cursor: pointer;
}
table td:nth-child(1) {
    width: 55px;
    text-align: center;
}

table td:nth-child(3) {
    width: 160px;
    text-align: center;
}

/* phone size */
@media (max-width: 576px) {
    h1 {
        font-size: 2em;
    }
    table td:nth-child(2) {
        width: 60%;
    }
    .audiojs {
        width: 100%;
    }
}